################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
src/FluentCMS/temp
/src/ZenzeCMS/files
/src/ZenzeCMS/appsettings.json
/src/ZenzeCMS/zenzecms-log.db
/src/ZenzeCMS/zenzecms.db
/src/ZenzeCMS/fluentcms.db
/src/ZenzeCMS/wwwroot/tailwind/6b9414f3-cbf0-4c6e-b65b-6d6de936eb45/cd357f38-6268-47ba-b2b8-1e51c39247da.css
/src/ZenzeCMS/wwwroot/tailwind/b5b257ed-40c4-4135-abd7-1efa457b7668/71cf8033-dca8-4afb-bbbd-d16b202c8924.css
/src/ZenzeCMS/wwwroot/tailwind/e3976de5-4b79-49cd-9784-6e9d0da629fe/02262836-eed1-4045-b49d-258106114554.css
/src/FluentCMS/fluentcms-log.db
/src/FluentCMS/fluentcms.db
/src/FluentCMS/zenzecms-log.db
/src/FluentCMS/zenzecms.db
/src/FluentCMS/appsettings.json
/src/FluentCMS/zenzencms-log.db
/src/FluentCMS/zenzencms.db
