################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
src/FluentCMS/temp
/src/ZenzeCMS/files
/src/ZenzeCMS/appsettings.json
/src/ZenzeCMS/zenzecms-log.db
/src/ZenzeCMS/zenzecms.db
/src/ZenzeCMS/fluentcms.db
